<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course list</title>

    <style>
        /* Styles for the alert box */
        .alert-box {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 20px;
            z-index: 1000;
        }
        .alert-box input {
            display: block;
            margin: 10px 0;
            padding: 5px;
            width: 100%;
        }
        .alert-box button {
            margin: 10px 5px 0 0;
            padding: 5px 10px;
            cursor: pointer;
        }
        /* Overlay for background dimming */
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }
    </style>
</head>
<body>
    <h1>Course list</h1>
    <table>
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Course Description</th>
            <th>Created At</th>
        </tr>
        <% courses.forEach(course => { %>
            <tr>
                <td><%= course.courseID.toUpperCase() %></td>
                <td><%= course.name %></td>
                <td><%= course.description %></td>
                <td><%= course.createdAt %></td>
                <td>
                    <a href="#" onclick="openForm('<%= course.courseID %>', '<%= course.name %>', '<%= course.description %>', '<%= course.createdAt %>')">Edit</a>
                    <a href="/admin/manage_course/delete/<%= course.courseID %>">Delete</a>
                </td>
            </tr>
        <% }); %>
    </table>

    <!-- Alert Box -->
    <div class="overlay" id="overlay"></div>
    <div class="alert-box" id="editForm">
        <h2>Edit Course Information</h2>
        <form id="edit-course-form">
            <input type="hidden" name="id" id="courseId">
            <table>
                <tr>
                    <td>Course ID:</td>
                    <td>
                        <input type="text" name="courseID" id="courseID" disabled>
                    </td>
                </tr>
                <tr>
                    <td>Course Name:</td>
                    <td>
                        <input type="text" name="name" id="name">
                    </td>
                </tr>
                <tr>
                    <td>Course Description:</td>
                    <td>
                        <input type="date" name="description" id="description">
                    </td>
                </tr>
                <tr>
                    <td>Created At:</td>
                    <td>
                        <input type="text" name="createdAt" id="createdAt" disabled>
                    </td>
                <tr>
                    <td>
                        <input type="submit" name="" id="" value="Save">
                    </td>
                    <td>
                        <input type="button" name="" id="" onclick="closeEditForm()" value="Cancel">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <script>
        const form = document.getElementById('edit-course-form');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            // Get updated values from the form
            const courseID = document.getElementById('courseID').value;
            const name = document.getElementById('name').value;
            const description = document.getElementById('description').value;
            const action = '/admin/manage_course/edit/'+courseID

            try {
                const res = await fetch(action, {
                    method: 'PUT',
                    body: JSON.stringify({courseID, name, description}),
                    headers: {'Content-Type': 'application/json'},
                });
            } catch (error) {
                console.log(error);
            }
        });


        // Function to open the edit form
        openForm = (courseID, name, description, createdAt) => {
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('editForm').style.display = 'block';

            document.getElementById('courseID').value = courseID;
            document.getElementById('name').value = name;
            document.getElementById('description').value = description;
            document.getElementById('createdAt').value = createdAt;
        }

        // Function to close the edit form
        function closeEditForm() {
            document.getElementById('editForm').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }
    </script>
</body>
</html>