<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Insert Announcement to teacher API</title>

</head>
<body>
  <form class="form-insert-announcement" style="margin: 200px;" method="POST" action="/manage_announcement/insert">
    <table>
        <tr>
            <th>Announcement ID</th>
            <th>Announcement Title</th>
            <th>Announcement Content</th>
            <th>Receivers</th>
            <th>Sender</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
        <% announcements.forEach(announcement => { %>
            <tr id="<%= announcement._id %>">
                <td><%= announcement._id %></td>
                <td><%= announcement.title %></td>
                <td><%= announcement.content %></td>
                <td><%= announcement.recipents %></td>
                <td><%= announcement.sender %></td>
                <td><%= announcement.createdAt %></td>
                <td>
                    <a href="/admin/announcement/send_to_teacher/delete/<%= announcement._id %>">Delete</a>
                </td>
            </tr>
        <% }); %>
        <tr>
          <a href="/admin/announcement/send_to_teacher">Go to Insert</a>
        </tr>
    </table>
  </form>

  <script>

  </script>
</body>
</html>