<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Insert Announcement to teacher API</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    header {
      background-color: #333;
      color: #fff;
      padding: 10px 0;
      text-align: center;
    }
    h1 {
      margin: 0;
    }
    main {
      padding: 20px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
    }
    td {
      padding: 10px;
      border: 1px solid #ddd;
    }
    input[type="text"], textarea {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      box-sizing: border-box;
    }
    input[type="submit"], input[type="reset"] {
      background-color: #f89b28;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
    }
    input[type="submit"]:hover, input[type="reset"]:hover {
      background-color: #333;
    }
    a {
      color: #f89b28;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <header>
    <h1>Insert Announcement to Teacher API</h1>
  </header>
  <main>
    <form class="form-insert-announcement" style="margin: 200px;" method="POST" action="/manage_announcement/insert">
      <table>
        <tr>
          <td>Announcement Title</td>
          <td><input type="text" name="announcement_title" id="announcement_title" required></td>
        </tr>
        <tr>
          <td>Announcement Content</td>
          <td><textarea name="announcement_content" id="announcement_content"></textarea></td>
        </tr>
          <tr>
              <td>Announcement Receivers: </td>
              <td>
                  <input type="checkbox" id="select_all_teachers">
                  <!-- Select all -->
                  <script>
                    const selectAllTeachers = document.querySelector('#select_all_teachers');
                    selectAllTeachers.addEventListener('change', () => {
                      const checkboxes = document.querySelectorAll('input[name="teacher_ids"]');
                      checkboxes.forEach(checkbox => {
                        checkbox.checked = selectAllTeachers.checked;
                      });
                    });
                  </script>
                  <label for="select_all_teachers">Select All</label><br>
                  <% teachers.forEach(teacher => { %>
                      <input type="checkbox" id="<%= teacher.teacherID %>" name="teacher_ids" value="<%= teacher.teacherID %>">
                      <label for="<%= teacher.teacherID %>"><%= teacher.teacherID.toUpperCase() %> | <%= teacher.name %></label><br>
                  <% }); %>
              </td>
          </tr>
        <tr>
          <td><input type="submit" value="Insert"></td>
          <td><input type="reset" value="Reset"></td>
        </tr> 
        <tr>
          <td><a href="/admin/announcement/send_to_teacher/list">Go to List</a></td>
        </tr>
      </table>
    </form>
  </main>
  <script>
    

    const form = document.querySelector('.form-insert-announcement');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const courseID = 'admin';
      const title = document.querySelector('#announcement_title').value;
      const content = document.querySelector('#announcement_content').value;
      const teacherIDs = [];
      const checkboxes = document.querySelectorAll('input[name="teacher_ids"]');
      checkboxes.forEach(checkbox => {
        if (checkbox.checked) {
          teacherIDs.push(checkbox.value);
        }
      });
      const sender = "<%= user.userID %>";

      try {
        const res = await fetch('/admin/announcement/send_to_teacher', {
          method: 'POST',
          body: JSON.stringify({ courseID, title, content, teacherIDs, sender }),
          headers: {'Content-Type': 'application/json'},
        });

        if (res.status >= 200 && res.status < 300) {
          console.log("Request successful", res.responseText);
          location.reload();
        } else {
          console.error("Request failed", res.statusText);
        }
      } catch (error) {
        console.log(error);
      }
    });

  </script>
</body>
</html>