<%- include('./partials/header.ejs'); -%>
<section class="homework-detail">
    <div class="homework-header">
        <h2 class="homework-title"></h2>
        <div class="bar-menu" id="bar-menu">
            <i class="fas fa-ellipsis"></i>
            <div class="dropdown-content hide" id="dropdown-option">
                <div class="edit-button">
                    Edit
                </div>
                <script>
                    document.querySelector(".edit-button").addEventListener("click", function() {
                        document.querySelector(".new-homework-form").style.display = "block";
                    });
                </script>
                <div class="delete-button">
                    <a href="/teacher/course/<%= pCourse._id %>/homework/delete/<%= homework._id %>">Delete</a>
                </div>
            </div>
        </div>
        <script>
            document.getElementById("bar-menu").addEventListener("click", function() {
                document.querySelector("#dropdown-option").classList.toggle("show");
            });
        </script>
    </div>
    <div class="homework-information">
        <div class="homework-description">
            <h3>Description</h3>
            <p></p>
        <div class="homework-due">
            <h3>Due Date</h3>
            <p></p>
        </div>
        <div class="homework-attachment">
            <h3>Attachment</h3>
            <div class="homework-file">
                <i class="fas fa-file"></i>
                <a href="<%= homework.filePath %>" download=""><%= homework.filePath %></a>
            </div>
        </div>
    </div>
</section>
<script>
    let homework = '<%- JSON.stringify(homework).replace(/\\/g, "\\\\") %>';
        homework = JSON.parse(homework);
    let files = '<%- JSON.stringify(files).replace(/\\/g, "\\\\") %>';
        files = JSON.parse(files);
        
        const homeworkHeader = document.querySelector('.homework-header');
        const homeworkTitle = document.querySelector('.homework-title');
        const homeworkDescription = document.querySelector('.homework-description p');
        const homeworkDue = document.querySelector('.homework-due p');
        const homeworkAttachment = document.querySelector('.homework-attachment');
        homeworkTitle.textContent = homework.title;
        homeworkDescription.textContent = homework.description;
        homeworkDue.textContent = new Date(homework.dueDate).toLocaleDateString();
        files.forEach(file => {
            const div = document.createElement('div');
            div.classList.add('homework-file');
            const a = document.createElement('a');
            a.href = file.filePath;
            a.textContent = file.fileName;
            div.appendChild(a);
            homeworkAttachment.appendChild(div);
        });

</script>
<!-- FORM FOR CREATE A HOMEWORK -->
<section class="new-form new-homework-form">
    <div class="form-container">
        <form action="">
            <div class="exit-btn" id="exit-homework">
                <i class="fas fa-times"></i>
            </div>
            <script>
                document.querySelector("#exit-homework").addEventListener("click", function() {
                    document.querySelector(".new-homework-form").style.display = "none";
                });
            </script>
            <h2>Create Homework Form</h2>
            <label for="title">Title</label>
            <input type="text" name="title" id="" placeholder="Title of the homework" required>
            <label for="description">Description</label>
            <textarea placeholder="Type the description here..."></textarea>
            <label for="deadline">Deadline</label>
            <input type="datetime-local" name="deadline" id="deadline" required>
            <label for="file">File</label>
            <label for="file-upload-homework" id="add-btn">Browse Local File</label>
            <input type="file" name="file" id="file-upload-homework" multiple placeholder="Upload yourfile">
            <div class="display-file" id="display-file-homework">
                <ul>
                </ul>
            </div>
            <script>
                document.getElementById("file-upload-homework").addEventListener("change", function() {
                    var file = document.getElementById("file-upload-homework").files;
                    var displayFile = document.querySelector("#display-file-homework ul");
                    displayFile.innerHTML = "";
                    for (var i = 0; i < file.length; i++) {
                        var li = document.createElement("li");
                        var a = document.createElement("a");
                        var icon = document.createElement("i");
                        var span = document.createElement("span");
                        icon.classList.add("fas", "fa-file-pdf");
                        span.textContent = file[i].name;
                        a.appendChild(icon);
                        a.appendChild(span);
                        li.appendChild(a);
                        displayFile.appendChild(li);
                    }
                });
            </script>
            <div class="button-form">
                <button type="submit">
                    <i class="fas fa-paper-plane"></i>
                </button>
                <button type="reset" class="reset-btn" id="reset-homework">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <script>
                document.querySelector("#reset-homework").addEventListener("click", function() {
                    document.querySelector("#display-file-homework ul").innerHTML = "";
                });
            </script>
        </form>
    </div>
</section>
<script> 

        // Get the form container and form
    const formContainer = document.querySelector('.form-container');
    const form = formContainer.querySelector('form');
 
    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const title = form.querySelector('input[name="title"]').value;
        const description = form.querySelector('textarea').value;
        const files = form.querySelector('input[type="file"]').files;
        const deadline = form.querySelector('input[type="datetime-local"]').value;

        const formData = new FormData(e.target);
        formData.append('description', description);
        
        const action = `/teacher/course/<%= homework.pCourseID %>/homework/edit/<%= homework._id %>`;
        try {
            const res = await fetch(action, {
                method: 'PUT',
                body: formData,
            });
            const data = await res.json();
            if(res.status >= 200 && res.status < 300) {
                location.reload();
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>
<%- include('./partials/footer.ejs'); -%>
