<%- include('./partials/header.ejs'); -%>
<section class="material-detail">
    <div class="material-title">
        <h2> </h2>
        <div class="bar-menu" id="bar-menu">
            <i class="fas fa-ellipsis"></i>
            <div class="dropdown-content hide" id="dropdown-option">
                <div class="edit-button" id="material-form">
                    Edit
                </div>
                <div class="delete-button">
                    <a href="/teacher/course/<%= pCourse._id %>/material/delete/<%= material._id %>">Delete</a>
                </div>
            </div>
        </div>
        <script>
            document.getElementById("bar-menu").addEventListener("click", function() {
                document.querySelector("#dropdown-option").classList.toggle("show");
            });
        </script>
    </div>
    <div class="material-contents">
        <h3>Description</h3>
        <div class="material-description">
            <p><%= material.description %></p>
        </div>
        <h3>File Attached</h3>

    </div>
</section>
<script>
    let material = '<%- JSON.stringify(material).replace(/\\/g, "\\\\") %>';
        material = JSON.parse(material);
    let files = '<%- JSON.stringify(files).replace(/\\/g, "\\\\") %>';
        files = JSON.parse(files);
        
        const materialTitle = document.querySelector('.material-title h2');
        const materialDescription = document.querySelector('.material-description p');
        const materialDue = document.querySelector('.material-due p');
        const materialAttachment = document.querySelector('.material-contents');
        materialTitle.textContent = material.title;
        materialDescription.textContent = material.description;
        files.forEach(file => {
            const div = document.createElement('div');
            div.classList.add('material-file');
            const a = document.createElement('a');
            a.href = "\\..\\..\\..\\" + file.filePath;
            a.textContent = file.fileName;
            div.appendChild(a);
            materialAttachment.appendChild(div);
        });

</script>
<!-- FORM EDIT A NEW MATERIAL -->
<section class="new-form new-material-form">
    <div class="form-container">
        <form action = "/teacher/course/<%= material.pCourseID %>/material/<%= material._id %>" method = "PUT" enctype="multipart/form-data">
            <div class="exit-btn" id="exit-material">
                <i class="fas fa-times"></i>
            </div>
            <h2>Edit Material Form</h2>
            <label for="title">Title</label>
            <input type="text" name="title" id="" placeholder="Title of Material" required>
            <label for="description">Description</label>
            <textarea placeholder="Type your material here..."></textarea>
            <label for="file">File</label>
            <label for="file-upload-material" id="add-btn">Browse Local File</label>
            <input type="file" name="file" id="file-upload-material" multiple>
            <div class="display-file" id="display-file-material">
                <ul>
                <li>
                    <a href="">
                        <i></i>
                        <span></span>
                    </a>
                </li>
                </ul>
            </div>
            <script>
                document.getElementById("file-upload-material").addEventListener("change", function() {
                    var file = document.getElementById("file-upload-material").files;
                    var displayFile = document.querySelector("#display-file-material ul");
                    displayFile.innerHTML = "";
                    for (var i = 0; i < file.length; i++) {
                        var li = document.createElement("li");
                        var a = document.createElement("a");
                        var icon = document.createElement("i");
                        var span = document.createElement("span");
                        icon.classList.add("fas", "fa-file-pdf");
                        span.textContent = file[i].name;
                        a.appendChild(icon);
                        a.appendChild(span);
                        li.appendChild(a);
                        displayFile.appendChild(li);
                    }
                });
            </script>
            <div class="button-form">
                <button type="submit">
                    <i class="fas fa-paper-plane"></i>
                </button>
                <button type="reset" class="reset-btn" id="reset-material">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <script>
                document.querySelector("#reset-material").addEventListener("click", function() {
                    document.querySelector("#display-file-material ul").innerHTML = "";
                });
            </script>
        </form>
    </div>
</section>
<script>
    const newMaterialSection = document.querySelector(".new-material-form");
    const newMaterialForm = newMaterialSection.querySelector("form");
    const createButton = document.querySelector("#material-form");
    const exitMaterial = document.querySelector("#exit-material");

    // Open the form when clicking the create button
    createButton.addEventListener("click", function() {
        newMaterialSection.style.display = "block";
    });

    // Close the form when clicking the exit button
    exitMaterial.addEventListener("click", function(e) {
        e.stopPropagation(); // Prevent the click from bubbling up
        newMaterialSection.style.display = "none";
    });

    // Close the form when clicking outside of it
    newMaterialSection.addEventListener("click", function(e) {
        // Check if the clicked target is not inside newMaterialForm
        if (!newMaterialForm.contains(e.target)) {
            newMaterialSection.style.display = "none";
        }
    });

    // Close the form when pressing the Escape key
    document.addEventListener("keyup", function(e) {
        if (e.key === "Escape") {  // Check if the Escape key is pressed
            e.stopPropagation(); // Prevent the keyup event from bubbling up
            newMaterialSection.style.display = "none";
        }
    });
</script>
<script> 

        // Get the form container and form
    const formContainer = document.querySelector('.form-container');
    const form = formContainer.querySelector('form');
 
    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const title = form.querySelector('input[name="title"]').value;
        const description = form.querySelector('textarea').value;
        const files = form.querySelector('input[type="file"]').files;
        const formData = new FormData(e.target);
        formData.append('description', description);

        const action = `/teacher/course/<%= material.pCourseID %>/material/edit/<%= material._id %>`;
        try {
            const res = await fetch(action, {
                method: 'PUT',
                body: formData,
            });
            const data = await res.json();
            if(res.status >= 200 && res.status < 300) {
                location.reload();
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>
<%- include('./partials/footer.ejs'); -%>