<%- include('./partials/header.ejs'); -%>
<section class="course-discussion"> 
    <div class="left-side">
        <div class="header-menu-name teacher-dcs" >
            <h2 id="hide-chatbox">
                Discussion
            </h2>
            <div class="create" id="discussion-form">
                <i class="fas fa-plus"></i> 
            </div>
        </div>

        <div class="discussion-listed">
            <ul>
            </ul>
        </div>
    </div>
    <!-- Container -->
    <div class="right-side" id="discussion-content-id">
        <div class="topic-header">
            <div class="topic-info">
                <i class="fas fa-comments"></i>
                <p class="topic-title"></p>
            </div>
        </div>
        <div class="discussion-board">
            <div class="other-msg">
                <div class="user-name">
                    <i class="fas fa-user-circle"></i>
                    <span>Student 1</span>
                </div>
                <div class="msg">
                    <p>Hi, I have a question about the homework.</p>
                </div>
                <div class="time">
                    <span>10:00 AM</span>
                </div>
            </div>
            <div class="owner-msg">
                <div class="user-name">
                    <i class="fas fa-user-circle"></i>
                    <span>Teacher 1</span>
                </div>
                <div class="msg">
                    <p>What is your question?</p>
                </div>
                <div class="time">
                    <span>10:05 AM</span>
                </div>
            </div>
        </div>
        <div class="chat-form-container">
            <form action="" class="chat-form-teacher">
                <textarea placeholder="Type your message here..."></textarea>
                <button type="submit">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </form>
            <div class="grading-btn">
                <button>
                    <i class="fas fa-marker"></i>
                </button>
                <script>
                    document.querySelector(".grading-btn button").addEventListener("click", function() {
                        document.querySelector(".grading-discussion").style.display = "block";
                    });
                </script>
            </div>
        </div>
    </div>
</section>
<script>
    let discussions = '<%- JSON.stringify(discussions) %>';
    discussions = JSON.parse(discussions);
    console.log(discussions);
    let user = '<%- JSON.stringify(user) %>';
    user = JSON.parse(user);
    const userID = user._id;
    let messages = '<%- JSON.stringify(messages) %>';
    messages = JSON.parse(messages);

    discussions.forEach(discussion => {
        const li = document.createElement("li");
        li.id = discussion._id;
        const div = document.createElement("div");
        div.classList.add("discussion-name");
        const icon = document.createElement("i");
        icon.classList.add("fas", "fa-comments");
        const a = document.createElement("a");
        a.href = `/teacher/course/${discussion.pCourseID}/discussion/${discussion._id}`;
        a.textContent = discussion.title;
        div.appendChild(icon);
        div.appendChild(a);
        li.appendChild(div);
        document.querySelector(".discussion-listed ul").appendChild(li);
    });

    let presentDiscussion = '<%- JSON.stringify(presentDiscussion) %>';
    presentDiscussion = JSON.parse(presentDiscussion);
    console.log(presentDiscussion);

    if(presentDiscussion) {
        document.querySelector(".topic-title").textContent = presentDiscussion.title + ": " + presentDiscussion.topic;
        document.querySelector(".discussion-board").innerHTML = "";
    } else {
        document.querySelector(".right-side").style.display = "none";
    }
    
</script>
<script>
    // document.querySelector("#fullscreen").addEventListener("click", function() {
    //     document.querySelector(".left-side").classList.toggle("hide");
    //     var icon = document.querySelector("#screen");
    //     if (icon.classList.contains("fa-expand")) {
    //         icon.classList.remove("fa-expand");
    //         icon.classList.add("fa-compress");
    //     } else {
    //         icon.classList.remove("fa-compress");
    //         icon.classList.add("fa-expand");
    //     }
    // });
</script>
<script>
    // document.querySelector("#send-message button").addEventListener("click", function() {
    //     document.querySelector(".grading-discussion").style.display = "block";
    // });
</script>
<section class="new-form new-discussion-form">
    <div class="form-container">
        <form action = "teacher/course/<%=pCourse._id%>/discussion" method="POST" enctype="multipart/form-data">
            <div class="exit-btn" id="exit-discussion">
                <i class="fas fa-times"></i>
            </div>
            <script>
                document.querySelector("#exit-discussion").addEventListener("click", function() {
                    document.querySelector(".new-discussion-form").style.display = "none";
                });
            </script>
            <h2>Discussion Creation Form</h2>
            <label for="title">Title</label>
            <input type="text" name="title" id="" placeholder="Title of discussion (Ex: Discussion 1)" required>
            <label for="description">Topic</label>
            <input type="text" name="topic" id="" placeholder="Topic of discussion " required>
            <label for="description">Description</label>
            <textarea placeholder="Type the description here..."></textarea>
            <label for="file">File</label>
            <label for="file-upload-discussion" id="add-btn">Browse Local File</label>
            <input type="file" name="file" id="file-upload-discussion" multiple placeholder="Upload yourfile">
            <div class="display-file" id="display-file-discussion">
               <ul>
                <li>
                    <a href="">
                        <i></i>
                        <span></span>
                    </a>
                </li>
               </ul>
            </div>
            <script>
                document.getElementById("file-upload-discussion").addEventListener("change", function() {
                    var file = document.getElementById("file-upload-discussion").files;
                    var displayFile = document.querySelector("#display-file-discussion ul");
                    displayFile.innerHTML = "";
                    for (var i = 0; i < file.length; i++) {
                        var li = document.createElement("li");
                        var a = document.createElement("a");
                        var icon = document.createElement("i");
                        var span = document.createElement("span");
                        icon.classList.add("fas", "fa-file-pdf");
                        span.textContent = file[i].name;
                        a.appendChild(icon);
                        a.appendChild(span);
                        li.appendChild(a);
                        displayFile.appendChild(li);
                    }
                });
            </script>
            <div class="button-form">
                <button type="submit">
                    <i class="fas fa-paper-plane"></i>
                </button>
                <button type="reset" class="reset-btn" id="reset-discussion">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <script>
                document.querySelector("#reset-discussion").addEventListener("click", function() {
                    document.querySelector("#display-file-discussion ul").innerHTML = "";
                });
            </script>
        </form>
    </div>
</section>
<!-- end form -->
<section class="new-form grading-discussion">
    <div class="form-container">
        <form action="">
            <div class="exit-btn" id="exit-grading">
                <i class="fas fa-times"></i>
            </div>
            <script>
                document.querySelector("#exit-grading").addEventListener("click", function() {
                    document.querySelector(".grading-discussion").style.display = "none";
                });
            </script>
            <h2>Grading Form</h2>
            <label for="studentID">Student ID</label>
            <select name="studentID" id="id-selected">
                <option value="null">--Select Student ID--</option>
                <option value="ITITIU21284">ITITIU21284</option>
                <option value="ITITIU21285">ITITIU21285</option>
            </select>
            <script>
                document.querySelector("#id-selected").addEventListener("change", function() {
                    var id = document.querySelector("#id-selected").value;
                    document.querySelector("#" + id).style.display = "block";
                    document.querySelector(".students-info").style.display = "none";
                });
            </script>
            <table>
                <tr>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Discussion Contents</th>
                    <th>Grade</th>
                </tr>
            </table>
            <script>
                document.querySelector("#id-selected").addEventListener("change", function() {
                    
                });
            </script>
            <div class="button-form">
                <button type="submit">
                    <i class="fas fa-paper-plane"></i>
                </button>
                <button type="reset" class="reset-btn" id="">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <script>
                // document.querySelector("#reset-grading").addEventListener("click", function() {
                //     document.querySelector("#display-file-grading ul").innerHTML = "";
                // });
            </script>
        </form>
    </div>
</section>
<!-- <script> 

    // Get the form container and form
    const formDiscussion = document.querySelector('.new-form new-discussion-form');
    const formContainer = formDiscussion.querySelector('.form-container');
    const form = formContainer.querySelector('form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        
        const pCourseID = pCourse._id;
        const topic = form.querySelector('input[name="topic"]').value;
        const description = form.querySelector('textarea').value;
        const title = form.querySelector('input[name="title"]').value;
        const files = form.querySelector('input[type="file"]').files;
        const formData = new FormData(e.target);

        formData.append('description', description);
        formData.append('pCourseID', pCourseID);
        try {
            const res = await fetch(`/teacher/course/${pCourse._id}/discussion`, {
                method: 'POST',
                body: formData,
            });
            console.log(res);
            const data = await res.json();
            if(res.status >= 200 && res.status < 300) {
                location.reload();
            }
        } catch (error) {
            console.log(error);
        }
    });
</script> -->
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"
    integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg=="
    crossorigin="anonymous"
></script>
 <script >
    const socket = io('/user');
    let pCourse = '<%- JSON.stringify(pCourse) %>';
    pCourse = JSON.parse(pCourse);

    const formChatContainer = document.querySelector('.chat-form-container');
    const formChat = formChatContainer.querySelector('form');
    formChat.addEventListener('submit', async (e) => {
        e.preventDefault();
        const message = formChat.querySelector('textarea').value;
        try {
            if(message) {
                socket.emit('message', message);
                // outputMessage(message);

                const res = await fetch(`/teacher/course/${pCourse._id}/discussion/${presentDiscussion._id}/saveChat`, {
                    method: 'POST',
                    body: JSON.stringify({
                        message: message
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                message.value = '';
                socket.emit('message', message);
                
                const data = await res.json();
                if(res.status >= 200 && res.status < 300) {
                    const div = document.createElement('div');
                    div.classList.add('owner-msg');
                    div.innerHTML = `<div class="user-name">
                            <i class="fas fa-user-circle"></i>
                            <span>${user.name}</span>
                            </div>
                            <div class="msg">
                                <p>${message}</p>
                            </div>
                            <div class="time">
                                <span>${moment(data.dateTime).fromNow()}</span>
                            </div>`;
                    document.querySelector('.discussion-board').appendChild(div);
                }

            }

        } catch (error) {
            console.log(error);
        }
    });

    function outputMessage(message) {
        const div = document.createElement('div');
        div.classList.add('other-msg');
        div.innerHTML = `<div class="user-name">
                            <i class="fas fa-user-circle"></i>
                            <span>${user.name}</span>
                        </div>
                        <div class="msg">
                            <p>${message}</p>
                        </div>
                        <div class="time">
                            <span>${moment(data.dateTime).fromNow()}</span>
                        </div>`;
        document.querySelector('.discussion-board').appendChild(div);
    }
    socket.on('chat-message', (message) => {
        outputMessage(message);
    });



 </script>
<%- include('./partials/footer.ejs'); -%>