<%- include('./partials/header.ejs'); -%>
<section class="course-homework">
    <div class="header-menu-name">
        <h2>
            Grade
        </h2>
    </div>
    <div class="student-submission-list">
        <div class="homework-name">
            <h3><%= homework.title%></h3>
        </div>
        <form action="/teacher/course/<%= pCourse._id %>homework/<%= homework._id %>/grade/" method="POST">
            <table>
                <tr>
                    <th class="id">ID</th>
                    <th class="fullname">Full Name</th>
                    <th class="writing">Writing</th>
                    <th class="attach">Attach</th>
                    <th class="time-submission">Submission Time</th>
                    <th class="grade">Grade</th>
                </tr>
            </table>
            <div class="button-form">
                <button type="reset">Reset</button>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</section>
<script>
    let list = '<%- JSON.stringify(list).replace(/\\/g, "\\\\") %>';
    list = JSON.parse(list);
    const studentSubmissionList = document.querySelector('.student-submission-list table');
    list.forEach(student => {
        const sID = student._id;
        const tr = document.createElement('tr');
        const studentID = student.studentID;
        const studentName = student.studentName;
        const writing = student.description;
        const attach = student.files;
        const td1 = document.createElement('td');
        const td2 = document.createElement('td');
        const td3 = document.createElement('td');
        const td4 = document.createElement('td');
        const td5 = document.createElement('td');
        const td6 = document.createElement('td');
        td1.classList.add('id');
        td2.classList.add('fullname');
        td3.classList.add('writing');
        td4.classList.add('attach');
        td5.classList.add('time-submission');
        td6.classList.add('grading');
        td1.textContent = studentID;
        td2.textContent = studentName;
        td3.textContent = writing;
        attach.forEach(file => {
            const div = document.createElement('div');
            div.classList.add('submission-file');
            const a = document.createElement('a');
            a.href = `\\..\\..\\${file.filePath}`;
            a.textContent = file.fileName;
            div.appendChild(a);
            td4.appendChild(div);
        });
        td5.textContent = new Date(student.submittedAt).toLocaleDateString();
        const input = document.createElement('input');
        input.type = 'number';
        input.name = 'grade';
        input.id = 'grade';
        input.min = '0';
        input.max = '100';
        td6.appendChild(input);
        tr.appendChild(td1);
        tr.appendChild(td2);
        tr.appendChild(td3);
        tr.appendChild(td4);
        tr.appendChild(td5);
        tr.appendChild(td6);
        studentSubmissionList.appendChild(tr);

    });
    if (list.length === 0) {
        const tr = document.createElement('tr');
        tr.classList.add('empty-content');
        const td = document.createElement('td');
        td.colSpan = 6;
        td.textContent = 'No submission yet';
        tr.appendChild(td);
        studentSubmissionList.appendChild(tr);
    }
    let homework = '<%- JSON.stringify(homework).replace(/\\/g, "\\\\") %>';
    homework = JSON.parse(homework);
    let pCourse = '<%- JSON.stringify(pCourse) %>';
    pCourse = JSON.parse(pCourse);
    const formContainer = document.querySelector('.student-submission-list');
    const form = formContainer.querySelector('form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        let gradeList = [];
        list.forEach(student => {
            console.log(student);
            const grade = form.querySelector(`input[name="grade"]`).value;
            gradeList.push({
                submissionID: student.submissionID,
                studentID: student.studentID,
                grade: grade,
            });
        });
        try {
            const res = await fetch(`/teacher/course/${pCourse._id}/homework/${homework._id}/grade`, {
                method: 'POST',
                body: JSON.stringify({ grades: gradeList }),
                headers: {
                    'Content-Type': 'application/json',
                }
            });
            const data = await res.json();
            if(res.status >= 200 && res.status < 300) {
                window.location.href = `/teacher/course/${pCourse._id}/homework/${homework._id}/grade/completed`;
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>
<%- include('./partials/footer.ejs'); -%>