<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Interface</title>

    <%- include ('../partials/main/header.ejs'); -%>

    <main>
        <!-- New discussion -->
        <div class="homework-container">
            <div class="content-list">
                <section class="new-homework-form">
                    <div class="form-container">
                        <form action="/teacher/course/<%= pCourse._id %>/discussion"method="POST" enctype="multipart/form-data">
                            <h2>Create Discussion Form</h2>
                            <label for="course">Select your course</label>
                            <select name="course" id="course" required>
                            </select>
                            <label for="title">Topic</label>
                            <input type="text" name="topic" id="" placeholder="Topic of the discussion" required>
                            <label for="description">Description</label>
                            <textarea placeholder="Type the description here..."></textarea>
                            <label for="deadline">Deadline</label>
                            <input type="datetime-local" name="deadline" id="deadline" required>
                            <label for="file">File</label>
                            <label for="file-upload-homework" id="add-btn">Browse Local File</label>
                            <input type="file" name="file" id="file-upload-homework" multiple placeholder="Upload yourfile">
                            <div class="display-file" id="display-file-homework">
                               <ul>
                               </ul>
                            </div>
                            <script>
                                document.getElementById("file-upload-homework").addEventListener("change", function() {
                                    var file = document.getElementById("file-upload-homework").files;
                                    var displayFile = document.querySelector("#display-file-homework ul");
                                    displayFile.innerHTML = "";
                                    for (var i = 0; i < file.length; i++) {
                                        var li = document.createElement("li");
                                        var a = document.createElement("a");
                                        var icon = document.createElement("i");
                                        var span = document.createElement("span");
                                        icon.classList.add("fas", "fa-file-pdf");
                                        span.textContent = file[i].name;
                                        a.appendChild(icon);
                                        a.appendChild(span);
                                        li.appendChild(a);
                                        displayFile.appendChild(li);
                                    }
                                });
                            </script>
                            <div class="button-form">
                                <button type="submit">
                                    <i class="fas fa-paper-plane"></i>
                                </button>
                                <button type="reset" class="reset-btn" id="reset-homework">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <script>
                                document.querySelector("#reset-homework").addEventListener("click", function() {
                                    document.querySelector("#display-file-homework ul").innerHTML = "";
                                });
                            </script>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <script>
        const allCourses = '<%- JSON.stringify(teacherCourses) %>';
        const courseSelect = document.querySelector("#course");
        const courses = JSON.parse(allCourses);
        courses.forEach(course => {
            const option = document.createElement("option");
            option.value = course._id;
            option.textContent = course.name;
            courseSelect.appendChild(option);
        });
    </script>
    <script> 

        let pCourse = '<%- JSON.stringify(pCourse) %>';
            pCourse = JSON.parse(pCourse);
        // Get the form container and form
        const formContainer = document.querySelector('.form-container');
        const form = formContainer.querySelector('form');
    
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            
            const pCourseID = form.querySelector('select[name="course"]').value;
            const topic = form.querySelector('input[name="topic"]').value;
            const description = form.querySelector('textarea').value;
            const deadline = form.querySelector('input[name="deadline"]').value;
            const files = form.querySelector('input[type="file"]').files;
            const formData = new FormData(e.target);

            formData.append('description', description);
            for(items of formData.entries()){
                console.log(items);
            }
            try {
                const res = await fetch(`/teacher/course/${pCourseID}/discussion`, {
                    method: 'POST',
                    body: formData,
                });
                const data = await res.json();
                if(res.status >= 200 && res.status < 300) {
                    location.reload();
                }
            } catch (error) {
                console.log(error);
            }
        });
    </script>
    <%- include ('../partials/main/footer.ejs'); -%>