<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Insert Announcement to Teacher API</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    header {
      background-color: #333;
      color: #fff;
      padding: 10px 0;
      text-align: center;
    }
    h1 {
      margin: 0;
    }
    main {
      padding: 20px;
      display: flex;
      justify-content: center;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
      text-align: center;
      max-width: 100%;
    }
    th, td {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: center;
    }
    th {
      background-color: #f89b28;
      color: white;
    }
    a {
      color: #f89b28;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <header>
    <h1>Announcement List</h1>
  </header>
  <main>
    <form class="form-insert-announcement" style="margin: 200px;">
      <table>
          <tr>
              <th>Announcement ID</th>
              <th>Announcement Title</th>
              <th>Announcement Content</th>
              <th>Receivers</th>
              <th>Sender</th>
              <th>Created At</th>
              <th>Action</th>
          </tr>
          <% announcements.forEach(announcement => { %>
              <tr id="<%= announcement._id %>">
                <td><%= announcement._id %></td>
                <td><%= announcement.title %></td>
                <td><%= announcement.content %></td>
                <td><%= announcement.receivers %></td>
                <td><%= announcement.senderID %></td>
                <td id="createdAt"><%= announcement.createdAt %></td>
                <td>
                    <button onclick="deleteAnnouncement('<%= announcement._id %>')">Delete</button>
                </td>
              </tr>
          <% }); %>
          <tr>
            <td><a href="/admin">Go to Home</a></td>
            <td><a href="/admin/announcement/send_to_all">Go to Insert</a></td>
          </tr>
      </table>
    </form>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const createdAtElement = document.getElementById('createdAt');
      if (createdAtElement) {
        const rawDate = createdAtElement.textContent; // Get the raw date string
        const date = new Date(rawDate); // Convert it to a Date object
  
        const options = { year: 'numeric', month: 'short', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: true };
        const formattedDate = date.toLocaleString('en-US', options);
  
        createdAtElement.textContent = formattedDate;
      }
    });

    // To delete an announcement
    async function deleteAnnouncement(id) {
      const res = await fetch(`/admin/announcement/send_to_all/delete/${id}`, {
        method: 'DELETE'
      });
      if(res.status === 200) {
        alert('Announcement deleted successfully');
        location.reload();
      }
    }
  </script>  
</body>
</html>