<%- include('./partials/header.ejs'); -%>
<section class="course-discussion"> 
    <div class="left-side">
        <div class="header-menu-name teacher-dcs" >
            <h2 id="hide-chatbox">
                Discussion
            </h2>
        </div>

        <div class="discussion-listed">
            <ul>
            </ul>
        </div>
    </div>
    <!-- Container -->
    <div class="right-side" id="discussion-content-id">
        <div class="topic-header">
            <div class="topic-info">
                <i class="fas fa-comments"></i>
                <p class="topic-title"></p>
            </div>
        </div>
        <div class="discussion-board" id="discussion-board">
            <div class="other-msg">
                <div class="user-name">
                    <i class="fas fa-user-circle"></i>
                    <span></span>
                </div>
                <div class="msg">
                    <p></p>
                </div>
                <div class="time">
                    <span></span>
                </div>
            </div>
            <div class="owner-msg">
                <div class="user-name">
                    <i class="fas fa-user-circle"></i>
                    <span></span>
                </div>
                <div class="msg">
                    <p></p>
                </div>
                <div class="time">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="chat-form-container">
            <form action="" class="chat-form">
                <textarea placeholder="Type your message here..."></textarea>
                <button type="submit">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </form>
        </div>
    </div>
</section>
<script>
    let discussions = '<%- JSON.stringify(discussions) %>';
    discussions = JSON.parse(discussions);

    discussions.sort((a, b) => new Date(b.createdAt).getTime() - new Date(a.createdAt).getTime());
    let user = '<%- JSON.stringify(user) %>';
    user = JSON.parse(user);
    const userID = user.userID;

    discussions.forEach(discussion => {
        const li = document.createElement("li");
        li.id = discussion._id;
        const div = document.createElement("div");
        div.classList.add("discussion-name");
        const icon = document.createElement("i");
        icon.classList.add("fas", "fa-comments");
        const a = document.createElement("a");
        a.href = `/student/course/${discussion.pCourseID}/discussion/${discussion._id}`;
        a.textContent = discussion.title;
        div.appendChild(icon);
        div.appendChild(a);
        li.appendChild(div);
        document.querySelector(".discussion-listed ul").appendChild(li);
    });

    let presentDiscussion = '<%- JSON.stringify(presentDiscussion) %>';
    presentDiscussion = JSON.parse(presentDiscussion);
    if(presentDiscussion) {
        document.querySelector(".topic-title").textContent = presentDiscussion.title + ": " + presentDiscussion.topic;
        document.querySelector(".discussion-board").innerHTML = "";
    } else {
        document.querySelector(".right-side").style.display = "none";
    }
    
</script>
<section class="new-form new-discussion-form">
    <div class="form-container">
        <form action = "student/course/<%=pCourse._id%>/discussion" method="POST" enctype="multipart/form-data">
            <div class="exit-btn" id="exit-discussion">
                <i class="fas fa-times"></i>
            </div>
            <script>
                document.querySelector("#exit-discussion").addEventListener("click", function() {
                    document.querySelector(".new-discussion-form").style.display = "none";
                });
            </script>
            <h2>Discussion Creation Form</h2>
            <label for="title">Title</label>
            <input type="text" name="title" id="" placeholder="Title of discussion (Ex: Discussion 1)" required>
            <label for="description">Topic</label>
            <input type="text" name="topic" id="" placeholder="Topic of discussion " required>
            <label for="description">Description</label>
            <textarea placeholder="Type the description here..."></textarea>
            <label for="file">File</label>
            <label for="file-upload-discussion" id="add-btn">Browse Local File</label>
            <input type="file" name="file" id="file-upload-discussion" multiple placeholder="Upload yourfile">
            <div class="display-file" id="display-file-discussion">
               <ul>
                <li>
                    <a href="">
                        <i></i>
                        <span></span>
                    </a>
                </li>
               </ul>
            </div>
            <script>
                document.getElementById("file-upload-discussion").addEventListener("change", function() {
                    var file = document.getElementById("file-upload-discussion").files;
                    var displayFile = document.querySelector("#display-file-discussion ul");
                    displayFile.innerHTML = "";
                    for (var i = 0; i < file.length; i++) {
                        var li = document.createElement("li");
                        var a = document.createElement("a");
                        var icon = document.createElement("i");
                        var span = document.createElement("span");
                        icon.classList.add("fas", "fa-file-pdf");
                        span.textContent = file[i].name;
                        a.appendChild(icon);
                        a.appendChild(span);
                        li.appendChild(a);
                        displayFile.appendChild(li);
                    }
                });
            </script>
            <div class="button-form">
                <button type="submit">
                    <i class="fas fa-paper-plane"></i>
                </button>
                <button type="reset" class="reset-btn" id="reset-discussion">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <script>
                document.querySelector("#reset-discussion").addEventListener("click", function() {
                    document.querySelector("#display-file-discussion ul").innerHTML = "";
                });
            </script>
        </form>
    </div>
</section>
<!-- end form -->
<script> 
    // Get the form container and form
    const formContainer = document.querySelector('.form-container');
    const form = formContainer.querySelector('form');

    
</script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"
    integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg=="
    crossorigin="anonymous"
></script>
 <script >
    document.addEventListener('DOMContentLoaded', () => {
        let messages = '<%- JSON.stringify(messages).replace(/\\n/g, " "); %>';
        messages = JSON.parse(messages);
        messages = messages.filter(message => message.discussionID === presentDiscussion._id);
        if (messages) {
            messages.forEach(message => {
                if (message.senderID === userID) {
                    ownerMessage(message);
                } else {
                    othersMessage(message);
                }
            });
        }
        document.querySelector('#discussion-board').scrollTop = document.querySelector('#discussion-board').scrollHeight;
    });

    let pCourse = '<%- JSON.stringify(pCourse) %>';
    pCourse = JSON.parse(pCourse);


    const socket = io('/user');

    let student = '<%- JSON.stringify(student) %>';
    student = JSON.parse(student);
    const formChat = document.querySelector('.chat-form');
    formChat.addEventListener('submit', async (e) => {
        e.preventDefault();
        const message = formChat.querySelector('textarea').value;
        try {
            if(message) {
                const res = await fetch(`/student/course/${pCourse._id}/discussion/${presentDiscussion._id}/saveChat`, {
                    method: 'POST',
                    body: JSON.stringify({
                        message: message
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                const data = await res.json();
                if(res.status >= 200 && res.status < 300) {
                    socket.emit('message', data);
                    formChat.querySelector('textarea').value = ''; // Clear the textarea
                    const div = document.createElement('div');
                    div.classList.add('owner-msg');
                    div.innerHTML = `<div class="user-name">
                            <i class="fas fa-user-circle"></i>
                            <span>${data.senderID}</span>
                            </div>
                            <div class="msg">
                                <p>${data.message}</p>
                            </div>
                            <div class="time">
                                <span>${moment(data.createAt).fromNow()}</span>
                            </div>`;
                    document.querySelector('.discussion-board').appendChild(div);
                    document.querySelector('#discussion-board').scrollTop = document.querySelector('#discussion-board').scrollHeight;
                }   
            }
        } catch (error) {
            console.log(error);
        }
    });

    socket.on('chat-message', (message) => {
        othersMessage(message);
    });
    function othersMessage(message) {
        const div = document.createElement('div');
        div.classList.add('other-msg');
        div.innerHTML = `<div class="user-name">
                            <i class="fas fa-user-circle"></i>
                            <span>${message.senderID}</span>
                        </div>
                        <div class="msg">
                            <p>${message.message}</p>
                        </div>
                        <div class="time">
                            <span>${moment(message.createAt).fromNow()}</span>
                        </div>`;
        document.querySelector('.discussion-board').appendChild(div);
        document.querySelector('#discussion-board').scrollTop = document.querySelector('#discussion-board').scrollHeight;
    }

    function ownerMessage(message) {
        const div = document.createElement('div');
        div.classList.add('owner-msg');
        div.innerHTML = `<div class="user-name">
                            <i class="fas fa-user-circle"></i>
                            <span>${message.senderName}</span>
                        </div>
                        <div class="msg">
                            <p>${message.message}</p>
                        </div>
                        <div class="time">
                            <span>${moment(message.dateTime).fromNow()}</span>
                        </div>`;
        document.querySelector('.discussion-board').appendChild(div);
        document.querySelector('#discussion-board').scrollTop = document.querySelector('#discussion-board').scrollHeight;
    }
 </script>
<%- include('./partials/footer.ejs'); -%>