<%- include('./partials/header.ejs'); -%>
<section class="course-material">
    <div class="header-menu-name">
        <h2>
            Material
        </h2>
    </div>

    <% const materialList = JSON.parse(materials); %>
    <div class="material-listed">
        <ul>
            <% materialList.forEach(material => { %>
                <li>
                    <a href="/student/course/<%=material.courseID%>/material/<%=material.title%>" class="title-book">
                        <%= material.title %> 
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>

</section>
<%- include('./partials/footer.ejs'); -%>