<%- include('./partials/header.ejs'); -%>
<section class="material-detail">
    <div class="material-title">
        <h2><%-material.title%></h2>
    </div>
    <div class="material-contents">
        <h3>Description</h3>
        <div class="material-description">
            <p><%-material.description%></p>
        </div>
        <h3>File Attached</h3>
        <div class="material-file">
            <i class="fas fa-file"></i>
            <a href="<%-material.filePath%>"><%-material.filePath%></a>
        </div>
    </div>
</section>
<%- include('./partials/footer.ejs'); -%>