<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veducat | 
        <%=  %> 
    </title> 
<%- include('../../partials/main/header.ejs'); -%>

<div class="course-name">
    <a href="">
        <%= progressingCourse.courseName %>
    </a>
</div>
<main id="main-in-course">
    <div class="dropdown in-course">
            <div class="button-menu" id="dropdown-btn">
                <i class="fas fa-bars"></i>
            </div>
            <div class="dropdown-content">
                <a href="/student/course/<%= progressingCourse._id %>/announcement" id="announcement-selected">
                    <i class="fa-regular fa-bell"></i>
                    <span>Annoucement</span>
                </a>
                <a href="/student/course/<%= progressingCourse._id %>/material" id="material-selected">
                    <i class="fa-regular fa-folder"></i>
                    <span>Material</span>
                </a>
                <a href="/student/course/<%= progressingCourse._id %>/contact" id="contact-selected">
                    <i class="fa-regular fa-envelope"></i>
                    <span>Contact</span>
                </a>
                <a href="/student/course/<%= progressingCourse._id %>/homework" id="homework-selected">
                    <i class="fas fa-tasks"></i>
                    <span>Homework</span>
                </a>
                <a href="/student/course/<%= progressingCourse._id %>/discussion" id="discussion-selected">
                    <i class="fa-regular fa-comments"></i>
                    <span>Discussion</span>
                </a>
                <a href="/student/course/<%= progressingCourse._id %>/grade" id="grade-selected">
                    <i class="fa-solid fa-marker"></i>
                    <span>Graded</span>
                </a>
            </div>
        </div>
    <div class="display-area">
